<h2 class="content-block">User management</h2>

<div class="content-block dx-card responsive-paddings alert-info">
  <ul>
    <li>PURC: create users and roles, reset password, reason management, input reason like a Buyer and check reason</li>
    <li>Buyer: input buyers reason</li>
    <li>Other: check reason</li>
    <li>Manager: check reason</li>
    <li>Leader: check reason</li>
  </ul>
</div>

<div class="content-block dx-card responsive-paddings">
  <dx-data-grid
    height="520"
    [dataSource]="users"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [repaintChangesOnly]="true"
  >
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
      mode="form"
      [allowUpdating]="is_purc"
      [allowAdding]="is_purc"
      [allowDeleting]="is_purc"
      [refreshMode]="refreshMode"
    >
    <dxo-form>
      <dxi-item dataField="username"></dxi-item>
      <dxi-item dataField="roles" dataType="string" editorType="dxTagBox" 
        [editorOptions]="{ items: roles, searchEnabled: true}">
      </dxi-item>
    </dxo-form>
  </dxo-editing>
    <dxi-column dataField="username" dataType="string"> </dxi-column>
    <dxi-column dataField="name" dataType="string"> </dxi-column>
    <dxi-column dataField="dept" dataType="string"> </dxi-column>
    <dxi-column dataField="email" dataType="email"> </dxi-column>
    <dxi-column dataField="roles" dataType="string" editorType="dxTagBox" 
      [editorOptions]="{ items: roles, searchEnabled: true}"> 
    </dxi-column>
    <dxi-column type="buttons" caption="Manage" [visible]="is_purc">
      <dxi-button name="edit" icon="edit" ></dxi-button>
      <dxi-button name="delete" icon="trash"></dxi-button>
      <dxi-button name="reset-password" icon="unlock" hint="Reset password" [onClick]="reset_password"></dxi-button>
    </dxi-column>
    
  </dx-data-grid>

</div>


