<h3 class="content-block">KPI Delivery Control {{ year }}</h3>

<div class="content-block dx-card responsive-paddings alert-info">
  Only PURC can edit this page.
</div>

<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-toolbar>
      <dxi-item
        location="before"
        widget="dxButton"
        locateInMenu="auto"
        [options]="createYearButtonOptions"
      >
      </dxi-item>
      <dxi-item
          location="after"
          widget="dxSelectBox"
          locateInMenu="auto"
          [options]="selectBoxOptions"
      >
      </dxi-item>
    </dx-toolbar>

    <dx-box width="100%">
      <dxi-item [ratio]="1">
        <h5>PUR1</h5>
        <dx-data-grid
        id="grid_kpi_pur1"
        [dataSource]="kpi_pur1"
        [repaintChangesOnly]="true"
        [showBorders]="true"
        >
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing
            mode="cell"
            [refreshMode]="refreshMode"
            [allowAdding]="false"
            [allowUpdating]="is_purc"
            [allowDeleting]="false"
        >
        </dxo-editing>

        <dxi-column dataField="monthly" dataType="date" [editorOptions]="{ readOnly:true}" cellTemplate="monthlyCellTemplate">
          <dxo-format
            type="month">
          </dxo-format>
        </dxi-column>
        <dxi-column dataField="kpi" dataType="number" headerCellTemplate="headerTemplate" cellTemplate="kpiCellTemplate">
          <dxo-format
            type="fixedPoint"
            [precision]="2">
          </dxo-format>
        </dxi-column>
        <div *dxTemplate="let data of 'headerTemplate'">
          <div>KPI (%)</div>
        </div>
        <div
        *dxTemplate="let d of 'monthlyCellTemplate'"
        [class]="d.value.toString()==focus_month.toString() ? 'current_month' : ''"
        >
        <div>{{ d.value | date: "MMMM" }}</div>
      </div>
      <div
        *dxTemplate="let d of 'kpiCellTemplate'"
        [class]="d.row.data.monthly==this_year+'-'+(month-1).toString().padStart(2, '0')+'-01' ? 'current_month' : ''"
        >
        <div>{{ d.value| number: '1.2-2'}}</div>
      </div>
        </dx-data-grid>

      </dxi-item>


      <dxi-item [ratio]="1">
        <h5>PUR2</h5>
          <dx-data-grid
          id="grid_kpi_pur2"
          [dataSource]="kpi_pur2"
          [repaintChangesOnly]="true"
          [showBorders]="true"
          >
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-editing
            mode="cell"
            [refreshMode]="refreshMode"
            [allowAdding]="false"
            [allowUpdating]="is_purc"
            [allowDeleting]="false"
          >
          </dxo-editing>
          <dxi-column dataField="monthly" dataType="date" [editorOptions]="{ readOnly:true}" cellTemplate="monthlyCellTemplate">
            <dxo-format
              type="month">
            </dxo-format>
          </dxi-column>
          <dxi-column dataField="kpi" dataType="number" headerCellTemplate="headerTemplate" cellTemplate="kpiCellTemplate">
            <dxo-format
              type="fixedPoint"
              [precision]="2">
            </dxo-format>
          </dxi-column>
          <div *dxTemplate="let data of 'headerTemplate'">
            <div>KPI (%)</div>
          </div>
          <div
            *dxTemplate="let d of 'monthlyCellTemplate'"
            [class]="d.value.toString()==focus_month.toString() ? 'current_month' : ''"
            >
            <div>{{ d.value | date: "MMMM" }}</div>
          </div>
          <div
            *dxTemplate="let d of 'kpiCellTemplate'"
            [class]="d.row.data.monthly==this_year+'-'+(month-1).toString().padStart(2, '0')+'-01' ? 'current_month' : ''"
            >
            <div>{{ d.value| number: '1.2-2'}}</div>
          </div>
          </dx-data-grid>
      </dxi-item>


      <dxi-item [ratio]="1">
          <h5>PUR3</h5>
          <dx-data-grid
          id="grid_kpi_pur3"
          [dataSource]="kpi_pur3"
          [repaintChangesOnly]="true"
          [showBorders]="true"
          >
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-editing
              mode="cell"
              [refreshMode]="refreshMode"
              [allowAdding]="false"
              [allowUpdating]="is_purc"
              [allowDeleting]="false"
          >
          </dxo-editing>
          <dxi-column dataField="monthly" dataType="date" [editorOptions]="{ readOnly:true}" cellTemplate="monthlyCellTemplate">
            <dxo-format
              type="month">
            </dxo-format>
          </dxi-column>
          <dxi-column dataField="kpi" dataType="number" headerCellTemplate="headerTemplate" cellTemplate="kpiCellTemplate">
            <dxo-format
              type="fixedPoint"
              [precision]="2">
            </dxo-format>
          </dxi-column>
          <div *dxTemplate="let data of 'headerTemplate'">
            <div>KPI (%)</div>
          </div>
          <div
          *dxTemplate="let d of 'monthlyCellTemplate'"
          [class]="d.value.toString()==focus_month.toString() ? 'current_month' : ''"
          >
          <div>{{ d.value | date: "MMMM" }}</div>
        </div>
        <div
          *dxTemplate="let d of 'kpiCellTemplate'"
          [class]="d.row.data.monthly==this_year+'-'+(month-1).toString().padStart(2, '0')+'-01' ? 'current_month' : ''"
          >
          <div>{{ d.value| number: '1.2-2'}}</div>
        </div>
          </dx-data-grid>

      </dxi-item>

        </dx-box>
  </div>
</div>