<div class="content-block">
        <div class="dx-card responsive-paddings">
          <dx-toolbar>
            <dxi-item location="center" widget="dxButton" locateInMenu="never">
              <div *dxTemplate>
                <div class="toolbar-label"><b>Delay oversea</b></div>
              </div>
            </dxi-item>
            <dxi-item
              location="after"
              widget="dxSelectBox"
              locateInMenu="auto"
              [options]="selectBoxOptions"
            >
            </dxi-item>
          </dx-toolbar>
            <dx-data-grid
            id="gridContainer"
            [dataSource]="DelayOversea"
            [columnAutoWidth]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [repaintChangesOnly]="true"
            (onSelectionChanged)="selectionChanged($event)"
            (onExporting)="onExporting($event)"
          >
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>
          <dxo-paging [pageSize]="15"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10,50,100]"
          ></dxo-pager>
          <dxo-editing mode="batch" [allowUpdating]="true">
          </dxo-editing>
          <dxo-selection mode="multiple"></dxo-selection>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          
            <dxi-column dataField="status"[editorOptions]="{ readOnly:true }"> </dxi-column>
            <dxi-column dataField="po_number" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="po_line_number"[editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="po_shipm_number" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="req_no" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="req_details_no" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="order_company_code" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="order_company_name" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="pur_incharge" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="buyer_pic_company_name" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="buyer_pic_belong_name" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="buyer_pic_telephone" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="buyer_pic_mailddress" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="supplier" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="supplier_site"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="item_desc" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="maker_code" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="maker_name" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="type" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="price" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="currency"[editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="pur_order_qty" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="delivery_qty" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="delivery_balanced_qty"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="balanced_order_qty" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="unit" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="inspectionyn" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="inspection_dept" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="remark_risk_degree" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="order_date" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="req_shipping_date" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="promised_date" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="today" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="delay" cellTemplate="cellTemplate" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="resp_suppliercpt"
            caption="Response by Supplier/CPT"
            [width]="250"
            cssClass="cell-highlighted"
            >
            <dxo-lookup [dataSource]="reason_delay_oversea"  valueExpr="reason"  displayExpr="reason"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="remark_and_reason"
            caption="Remark and Reason"
            [width]="250"
            cssClass="cell-highlightedRemark"
            > </dxi-column>
            <dxi-column dataField="transportation"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="requisitioner" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="request_company"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="request_dept"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="requester_telephone"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="request_email" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="remarks" [editorOptions]="{ readOnly:true}"> </dxi-column>

            <div *dxTemplate="let cellf of 'cellTemplate'">
              <div style="color:rgb(255, 0, 0)" >{{cellf.text}}</div>
          </div>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
          </dx-data-grid>
        </div>
</div>
