/* You can add global styles to this file, and also import other style files */
.menu-container{
    background-color: #fff;
}

.login-form .dx-button-mode-contained{
    margin-top: 5px;
    padding: 8px;
}

/* .dx-widget.dx-button.dx-button-mode-text.dx-button-normal.user-button.authorization{
    width: 110px;
} */