<!-- <h2 class="content-block">Input Dl3 Shot Lt</h2> -->
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-toolbar>
            <dxi-item
              location="before"
              widget="dxButton"
              locateInMenu="auto"
              [options]="refreshButtonOptions"
            >
            </dxi-item>
            <dxi-item location="center" widget="dxButton" locateInMenu="never">
              <div *dxTemplate>
                <div class="toolbar-label"><b>Short Leadtime/Early/Delay</b></div>
              </div>
            </dxi-item>
            <dxi-item
              location="after"
              widget="dxSelectBox"
              locateInMenu="auto"
              [options]="selectBoxOptions"
            >
            </dxi-item>
    
          </dx-toolbar>

            <dx-data-grid
            id="gridContainer"
            [dataSource]="shotLTDT"
            [columnAutoWidth]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [repaintChangesOnly]="true"
            (onSelectionChanged)="selectionChanged($event)"
            (onExporting)="onExporting($event)"
          >
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          <dxo-paging [pageSize]="15"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10,50,100]"
          ></dxo-pager>
          <dxo-editing mode="batch" [allowUpdating]="true">
          </dxo-editing>
          <dxo-selection mode="multiple"></dxo-selection>
            <dxi-column dataField="reqn_no" [editorOptions]="{ readOnly:true }"></dxi-column>
            <dxi-column dataField="pur_order_no"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="supp_code" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="supp_name" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Supp_Site_code" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="maker_name"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="type" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="item_code" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="class_com_code" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Item_Des" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="charge_to" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="charge_to_name" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="unit" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Order_Date" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="Promised_Date" [editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="Received_date"[editorOptions]="{ readOnly:true}" > </dxi-column>
            <dxi-column dataField="rece_accep" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="Check_Short_LT" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Check_Early_time_Delay" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="Status" [editorOptions]="{ readOnly:true}" cssClass="cell-highlighted"
            [fixed]="true" fixedPosition="right"  cellTemplate="cellTemplate">
            <div *dxTemplate="let cellf of 'cellTemplate'">
              <div [ngClass]="{'text-red-label': cellf.text == 'Shot L/T, Delay' || cellf.text == 'Shot L/T'}" >{{cellf.text}}</div>
            </div>
            </dxi-column>
            <dxi-column dataField="Cause" cssClass="cell-highlighted" [fixed]="true" fixedPosition="right" >
              <dxo-lookup [dataSource]="cause_season"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Department" cssClass="cell-highlighted" [fixed]="true" fixedPosition="right"></dxi-column>
            <dxi-column dataField="Reason" cssClass="cell-highlighted" [fixed]="true" fixedPosition="right"></dxi-column>
            <dxi-column dataField="ord_unit_price" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="pay_unit_price"[editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="pur_req_qty"[editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="pur_order_qty" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Rec_qty" [editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="rec_accep_qty"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="estimated" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="payment_amount_Tax" [editorOptions]="{ readOnly:true}"></dxi-column>
            <dxi-column dataField="Inv_Domestic" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxi-column dataField="Dept_code_pur_req"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="Dept_pur_req"[editorOptions]="{ readOnly:true}" ></dxi-column>
            <dxi-column dataField="pur_in_charge" [editorOptions]="{ readOnly:true}"> </dxi-column>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
          </dx-data-grid>
    </div>
</div>
