<h3 class="content-block">Pull data PUR1, PUR2 from EUC</h3>
<div class="dx-row">
  <div class="content-block dx-card responsive-paddings">
    <h5>Domestic</h5>
    <dx-form #form_domestic [formData]="domestic_date" [colCount]="7" labelMode="floating">
      <dxi-item
        dataField="date_start"
        editorType="dxDateBox"
        [editorOptions]="{displayFormat:'yyyyMMdd'}"   
        [colSpan]="3"
      ></dxi-item> 
      <dxi-item
        dataField="date_end"
        editorType="dxDateBox"
        [editorOptions]="{displayFormat:'yyyyMMdd'}"   
        [colSpan]="3"
      ></dxi-item>
      <dxi-item
        icon="download"
        itemType="button"
        [buttonOptions]="buttonOptions1" 
        [colSpan]="1"
      ></dxi-item>
    </dx-form> 
  </div>
  
  <div class="content-block dx-card responsive-paddings">
    <h5>Oversea</h5>
    <dx-form #form_oversea [formData]="oversea_date" [colCount]="7" labelMode="floating">
      <dxi-item
        dataField="date_start"
        editorType="dxDateBox"
        [editorOptions]="{displayFormat:'yyyyMMdd'}"   
        [colSpan]="3"
      ></dxi-item>
      <dxi-item
        dataField="date_end"
        editorType="dxDateBox"
        [editorOptions]="{displayFormat:'yyyyMMdd'}"   
        [colSpan]="3"
      ></dxi-item>
      <dxi-item
        icon="download"
        itemType="button"
        [buttonOptions]="buttonOptions2" 
        [colSpan]="1"
      ></dxi-item>
    </dx-form> 
  </div>
  
</div>


<dx-load-panel
    [hideOnOutsideClick]="true"
    [(visible)]="isLoadPanelVisible"
    (onShown)="onShown()">
</dx-load-panel>