<div class="content-block">
  <div class="dx-card responsive-paddings">

    <dx-toolbar>
      <dxi-item
        location="before"
        widget="dxButton"
        locateInMenu="auto"
        [options]="refreshButtonOptions"
      >
      </dxi-item>
      <dxi-item location="center" widget="dxButton" locateInMenu="never">
        <div *dxTemplate>
          <div class="toolbar-label"><b>Upload Report PUR 1-2</b></div>
        </div>
      </dxi-item>
    </dx-toolbar>

    <dx-box direction="row">
      <dxi-item class="box-item" [ratio]="1"> 
        <dx-form #form_domestic [formData]="date" [colCount]="8">
          <dxi-item
            itemType="empty"
            [colSpan]="1"
          ></dxi-item> 
          <dxi-item
            dataField="domestic"
            editorType="dxDateBox"
            [editorOptions]="{displayFormat:'dd/MM/yyyy'}"   
            [colSpan]="6"
          ></dxi-item> 
          <dxi-item
            icon="download"
            itemType="button"
            [buttonOptions]="buttonOptions1" 
            [colSpan]="1"
          ></dxi-item> 
        </dx-form> 
      </dxi-item>
      <dxi-item class="box-item" [ratio]="1"> 
        <dx-form id="form_oversea" [formData]="date" [colCount]="8">
          <dxi-item
            itemType="empty"
            [colSpan]="1"
          ></dxi-item> 
          <dxi-item
            dataField="oversea"
            editorType="dxDateBox"
            [editorOptions]="{displayFormat:'dd/MM/yyyy'}"   
            [colSpan]="6"
          ></dxi-item> 
          <dxi-item
            icon="download"
            itemType="button"
            [buttonOptions]="buttonOptions2" 
            [colSpan]="1"
          ></dxi-item> 
        </dx-form> 
      </dxi-item>
    </dx-box>


  </div>
</div>



  <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#form-container' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
  >
  </dx-load-panel>
